---
title: peopole
---

<div id="logo"><span class="logo-text">peopole.</span></div>

<!-- <div id="banner"> -->

<div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

<!--
<div id="about"><span class="headerbar-text">about</span></div>
<div id="contact_us"><span class="headerbar-text">contact us</span></div>
-->
<!--</div>--><!-- End of banner -->

<div id="box">
  <!-- For each thing in the list add an entry -->
  <%
    date = Time.new
    day = date.day.to_s.length == 1 ? "0" + date.day.to_s : date.day.to_s
    month = date.month.to_s.length == 1 ? "0" + date.month.to_s : date.month.to_s
    todayResults = Dir.pwd + "/logs/#{date.year}-#{month}-#{day}.txt"
    # Yesterday's date
    yesterday = date - (60 * 60 * 24)
    yday = yesterday.day.to_s.length == 1 ? "0" + yesterday.day.to_s : yesterday.day.to_s
    ymonth = yesterday.month.to_s.length == 1 ? "0" + yesterday.month.to_s : yesterday.month.to_s
    yesterdayResults = Dir.pwd + "/logs/#{yesterday.year}-#{ymonth}-#{yday}.txt"
    if File.exist?(todayResults)
      f = File.open(todayResults, "r")
      yf = File.open(yesterdayResults, "r")
    else
      # We need yesterday's results
      twoDays = yesterday - (60 * 60 * 24)
      tday = twoDays.day.to_s.length == 1 ? "0" + twoDays.day.to_s : twoDays.day.to_s
      tmonth = twoDays.month.to_s.length == 1 ? "0" + twoDays.month.to_s : twoDays.month.to_s
      twoDaysResults = Dir.pwd + "/logs/#{yesterday.year}-#{tmonth}-#{tday}.txt"
      f = File.open(yesterdayResults, "r")
      yf = File.open(twoDaysResults, "r")
    end
    a = f.read().split("\n");
    yesterInfo = yf.read().split("\n")
    # Make the people yesterday into array with the index being their spot
    change = []
    index = 0
    for thing in yesterInfo do
      # Get rid of the beginning of file encoding
      # Only if there is weird encoding when we copy/paste!
      if index == 0
        change[index] = thing.split(";")[0][0..-1]
      else
        change[index] = thing.split(";")[0]
      end
      index += 1
    end
    count = 0;
    for entry in a do
      count += 1;
      clean = entry.split(";", 3); name = clean[0];
      title = clean[1]; link = clean[2];
      # Get rid of beginning encoding
      if count == 1
        name = clean[0][0..-1]
      end
      # Truncate the title length if needed
      # TODO -> truncate at the end of a word?
      if title.length > 70
        title = "#{title[0, 70]}..."
      end
      # Check the previous day's entry and calculate the difference
      if !change.index(name).nil?
        yesterdayPosition = change.index(name) + 1
      else
        yesterdayPosition = 0
      end
      if yesterdayPosition == 0
        status = "NEW"
        css = "green"
      elsif yesterdayPosition > count
        status = "▲#{yesterdayPosition - count}"
        css = "green"
      elsif yesterdayPosition < count
        status ="▼#{count - yesterdayPosition}"
        css = "red"
      else
        status = "▬"
        css = ""
      end
  %>
      <div class="list-element">
        <span class="list-name"> <%= count %>. <%= name %> </span>
        <div class="list-bottom-line"><span class="list-change <%= css %>">(<%= status %>)</span>
          <a href ="<%= link %>" target="_blank"/>
            <!-- TODO -> Make the link title relevant -->
            <a1 class="list-link-text"><%= title %></a1>
          <a>
        </div>
      </div>
  <% end %>

</div> <!-- End the 'box' div -->
</a>

<!-- TODO -> move this into the JS file -->
<script type="text/javascript">
  fitText(document.getElementById('logo'), 1.0, { minFontSize: '50px', maxFontSize: '100px' })
  fitText(document.getElementById('slogan'), 1.5, { minFontSize: '15px', maxFontSize: '35px' })
  // fitText(document.getElementById('about'), 0.5, { minFontSize: '20px', maxFontSize: '40px' })
  // fitText(document.getElementById('contact_us'), 0.5, { minFontSize: '20px', maxFontSize: '40px' })
</script>
