---
title: peopole
---
<div id="headerbar">
  <div id="logo"><span class="logo-text" ><a class="header-link" href="./">peopole.</a></span></div>

  <div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

  <div id="about"><span class="headerbar-text"><a class="header-link" href="about.html">about</a></span></div>

  <div id="contact"><span class="headerbar-text">contact us</span></div>
</div>

<div id="box">
  <!-- Helper methods found in config.rb -->
  <%
    count = 1
    # TODO do this in db
    date = Date.today
    day = formatDate(date.day)
    month = formatDate(date.month)
    y_date = Date.today - 1
    y_date_day = formatDate(y_date.day)
    y_date_month = formatDate(y_date.month)
    today_db = "#{date.year}_#{month}_#{day}"
    yesterday_db = "#{y_date.year}_#{y_date_month}_#{y_date_day}"
    while count <= 50 do
      arr = get_person_today_helper(today_db, count)
      name, title, link = arr[0][0], arr[0][1], arr[0][2]
      rank = get_relative_rank_helper(name, today_db, yesterday_db)
      arr = get_person_links_helper(name)
      facebook, twitter, wikipedia = arr[0], arr[1], arr[2]
      if title.length > 70
        title = "#{title[0, 70]}..."
      end
      if rank == "NEW"
        status = "NEW"
        css = "green"
      elsif rank > 0
        status = "▲#{rank}"
        css = "green"
      elsif rank < 0
        status ="▼#{rank.to_s[1..-1]}"
        css = "red"
      else
        status = "▬"
        css = ""
      end
  %>
      <div class="list-element">
        <span class="list-name"> <%= count %>. <%= name %> </span>
        <% if (twitter) %>
          <% link_to twitter, target: "_blank" do %><%= image_tag "twitter_icon.png", :class => "social_media_icon"%><% end %>
        <% end %>
        <% if (facebook) %>
          <% link_to facebook, target: "_blank" do %><%= image_tag "facebook_icon.png", :class => "social_media_icon"%><% end %>
        <% end %>
        <% if (wikipedia) %>
          <% link_to wikipedia, target: "_blank" do %><%= image_tag "wikipedia_icon.png", :class => "social_media_icon" %><% end %>
        <% end %>
        <div class="list-bottom-line"><span class="list-change <%= css %>">(<%= status %>)</span>
          <a href ="<%= link %>" title="<%= title%>" target="_blank"/>
            <a1 class="list-link-text"><%= title %></a1>
          <a>
        </div>
      </div>
  <% count +=1; end %>

</div>
</a>

<!-- TODO -> move this into the JS file -->
<script type="text/javascript">
  fitText(document.getElementById('logo'), 1.0, { minFontSize: '50px', maxFontSize: '90px' })
  fitText(document.getElementById('slogan'), 1.75, { minFontSize: '15px', maxFontSize: '35px' })
  fitText(document.getElementById('about'), 0.6, { minFontSize: '15px', maxFontSize: '35px' })
  fitText(document.getElementById('contact'), 0.6, { minFontSize: '15px', maxFontSize: '35px' })
</script>
