---
title: peopole
---
<div id="headerbar">
  <div id="logo"><span class="logo-text" ><a class="header-link" href="/">peopole.</a></span></div>

  <div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

  <div id="about"><span class="headerbar-text"><a class="header-link" href="about.html">about</a></span></div>

  <div id="contact"><span class="headerbar-text">contact us</span></div>
</div>

<div id="box">
  <!-- Helper methods found in config.rb -->
  <%
    date = Time.new
    todayResults = createDate(date.day, date.month, date.year)
    yesterday = date - (60 * 60 * 24)
    yesterdayResults = createDate(yesterday.day, yesterday.month, yesterday.year)
    if File.exist?(todayResults)
      f = File.open(todayResults, "r")
    else
      f = File.open(yesterdayResults, "r")
    end
    top50 = f.read().split("\n");
    count = 0
    for entry in top50 do
      count += 1
      info = JSON.parse(entry)
      name = info["name"]
      title = info["article_title"]
      link = info["article_url"]
      twitter = info["twitter"]
      wikipedia = info["wikipedia"]
      rank = info["rank"]
      # possibly trim the title?
      if rank == "NEW"
        status = "NEW"
        css = "green"
      elsif rank > 0
        status = "▲#{rank}"
        css = "green"
      elsif rank < 0
        status ="▼#{rank.to_s[1..-1]}"
        css = "red"
      else
        status = "▬"
        css = ""
      end

      # if displayTitle.length > 70
      #  displayTitle = "#{title[0, 70]}..."
      # end
  %>
      <div class="list-element">
        <span class="list-name"> <%= count %>. <%= name %> </span>
        <% if (twitter) %>
          <% link_to twitter, target: "_blank" do %><%= image_tag "twitter_icon.png", :class => "social_media_icon"%><% end %>
        <% end %>
        <% if (!wikipedia.empty?) %>
          <% link_to wikipedia, target: "_blank" do %><%= image_tag "wikipedia_icon.png", :class => "social_media_icon" %><% end %>
        <% end %>
        <div class="list-bottom-line"><span class="list-change <%= css %>">(<%= status %>)</span>
          <a href ="<%= link %>" title="<%= title%>" target="_blank"/>
            <a1 class="list-link-text"><%= title %></a1>
          <a>
        </div>
      </div>
  <% end %>

</div>
</a>

<!-- TODO -> move this into the JS file -->
<script type="text/javascript">
  fitText(document.getElementById('logo'), 1.0, { minFontSize: '50px', maxFontSize: '90px' })
  fitText(document.getElementById('slogan'), 1.75, { minFontSize: '15px', maxFontSize: '35px' })
  fitText(document.getElementById('about'), 0.6, { minFontSize: '15px', maxFontSize: '35px' })
  fitText(document.getElementById('contact'), 0.6, { minFontSize: '15px', maxFontSize: '35px' })
</script>
